<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../css/deck/core/deck.core.css">
    <link rel="stylesheet" href="../css/deck/themes/web-2.0.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/prism.ruby-default.css">
    <script src="../js/modernizr.custom.js"></script>
  </head>
  <body class="home">

  <article class="deck-container">
    <section class="slide"  style="text-align: center">
      <h2>ActionView Component</h2>
      <h3>Justin Coyne</h3>
      <h4>Stanford Libraries</h4>
      <h4>Blacklight Summit - October 2019</h4>
    </section>

    <section class="slide">
      <h2>Search Page</h2>
      <pre><code class="language-ruby">[4, 10] in /Users/jcoyne85/workspace/projectblacklight/blacklight/app/views/catalog/index.html.erb
    4: <% byebug %>
=>  5: <% unless has_search_parameters? %>
    6:   <%# if there are no input/search related params, display the "home" partial -%>
    7:   <%= render 'home' %>
    8:   <%= render 'shared/sitelinks_search_box' %>
    9: <% else %>
   10:   <%= render 'search_results' %>
(byebug) methods.count
715
</pre></code>
    </section>

    <section class="slide">
      <img src="https://balkishankachawa.files.wordpress.com/2015/11/build-nextgen-apps-faster-with-lightning-components-7-638.jpg">
    </section>

    <section class="slide" style="text-align: center; font-size: 35pt">
      <div style="margin-top: 40vh" >
      <a href="https://github.com/github/actionview-component">https://github.com/github/actionview-component</a>
      </div>
    </section>

    <section class="slide">
      <h2 style="margin-top: 30vh; text-align: center">What are ActionView Components?</h2>
    </section>

    <section class="slide">
      <h2 style="margin-top: 30vh; text-align: center">Why should we use them?</h2>
    </section>

    <section class="slide">
      <h2 style="margin-top: 30vh; text-align: center">Unit testable</h2>
    </section>

    <section class="slide">
      <h2 style="margin-top: 30vh; text-align: center">Code coverage</h2>
    </section>

    <section class="slide">
      <h2 style="margin-top: 30vh; text-align: center">Data flow</h2>
    </section>

    <section class="slide">
      <h2 style="margin-top: 30vh; text-align: center">Better performance</h2>
    </section>

    <section class="slide">
      <pre><code  class="language-ruby"># app/components/test_component.rb
class TestComponent < ActionView::Component::Base
  validates :content, :title, presence: true

  def initialize(title:)
    @title = title
  end

  private

  attr_reader :title
end
      </code></pre>
    </section>

    <section class="slide">
      <pre><code class="language-ruby"># app/components/test_component.html.erb
&lt;span title="<%= title %>"&gt;<%= content %>&lt;/span&gt;
      </code></pre>
    </section>

    <section class="slide">
      <pre><code class="language-ruby"><%= render(TestComponent, title: "my title") do %>
  Hello, World!
<% end %>
      </code></pre>
    </section>

    <section class="slide">
      <pre><code class="language-ruby">require "action_view/component/test_helpers"

class MyComponentTest < Minitest::Test
  include ActionView::Component::TestHelpers

  def test_render_component
    assert_equal(
      '&lt;span title="my title"&gt;Hello, World!&lt;/span&gt;',
      render_inline(TestComponent, title: "my title") {
        "Hello, World!"
      }.css("span").to_html
    )
  end
end
      </code></pre>
    </section>

    <section class="slide">
      <h2>In Blacklight?</h2>
      <ul>
        <li><a href="https://github.com/projectblacklight/blacklight/pull/2168">https://github.com/projectblacklight/blacklight/pull/2168</a></li>
        <li><a href="https://github.com/projectblacklight/blacklight/pull/2170">https://github.com/projectblacklight/blacklight/pull/2170</a></li>
      </ul>
    </section>

    <section class="slide">
      <h1>Fin.</h1>
    </section>


  </article> <!-- deck-container -->
  <p class="deck-status" aria-role="status">
    <span class="deck-status-current"></span>
    /
    <span class="deck-status-total"></span>
  </p>

  <script src="../js/jquery.min.js"></script>

  <script src="../js/deck/core/deck.core.js"></script>
  <!-- <script src="./js/deck/extensions/goto/deck.goto.js"></script> -->
  <!-- <script src="./js/deck/extensions/navigation/deck.navigation.js"></script> -->
  <script src="../js/deck/extensions/status/deck.status.js"></script>
  <!-- <script src="./js/deck/extensions/hash/deck.hash.js"></script> -->
  <script src="../js/prism.ruby-default.js"></script>
  <script src="../js/home.js"></script>
  </body>
</html>
